@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');

@import "tailwindcss";

html,
body {
	@apply text-black dark:bg-gray-100;
	font-family: "Roboto", sans-serif;

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}

/* Barra de navegación */
.navbar {
	@apply text-white bg-blue-900 py-4;
}

.navbar-container {
	@apply flex flex-wrap;
}

.navbar-col{
  @apply py-4 flex justify-around;
}

.navbar-item {
	@apply text-base font-bold uppercase;
}

.navbar-link {
	@apply text-white hover:underline;
}

.header {
	@apply bg-blue-100 py-10 px-24;
}

.header-container {
	@apply flex flex-wrap items-center;
}

.header-title {
	font-family: "Miniver", cursive;
}

/*Secciones Globales*/
section{
  @apply py-15 px-20 border-t-2 border-blue-700
}

.section-title{
  @apply text-2xl font-bold mb-5 text-center;
}

.section-descripcion{
  @apply text-lg mb-5 text-justify;
}

/*Tarjetas*/
.card{
  @apply bg-white border border-gray-400 rounded-lg;
}

.card-header,
.card-content,
.card-footer{
  @apply px-6 py-3;
}

.card-footer{
  @apply text-center
}

/*Seccion de Contacto*/
.contact-title{
  @apply text-3xl font-bold mb-5 text-center text-indigo-900;
}

.contact-description{
  @apply text-base text-justify;
}

/*Formulario de Contacto*/
.contact-form{
  @apply border border-red-600 bg-gray-100 p-2 rounded-lg;
}

.input-label{
  @apply block text-sm text-slate-700 font-bold;
}

.input-field{
  @apply border border-gray-400 rounded-lg w-full px-4 py-2 bg-gray-50 text-sm outline-none focus:border-indigo-900;
}

.input-textarea{
  @apply resize-none;
}

/*Botornes*/
.btn{
  @apply px-4 py-2 text-sm rounded-lg font-semibold cursor-pointer;
}

.btn-main{
  @apply bg-blue-950 text-white hover:bg-blue-500;
}

/*Sidebar*/
.sidebar{
  @apply opacity-85 text-white w-full h-full fixed top-0 pt-20;
  background-color: rgba(0, 0, 0, 0.8);
}

.sidebar-content{
  @apply p-16 relative text-center;
}

.sidebar-item{
  @apply block text-3xl font-bold mb-20 uppercase;
}